{# SPDX-License-Identifier: MIT
 # SPDX-FileCopyrightText: 2022 Sascha Brawer <sascha@brawer.ch>
 #
 # Template for visualizing the data for a brand in a map
 # Served from /collections/Q<id>-brand with header Accept: text/html
 #}
{% extends 'base.html' %}
{% block title %}Brandy: Q123{% endblock %}

{% block head %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css" integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14=" crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js" integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg=" crossorigin=""></script>
{% endblock %}

{% block h1 %}<h1>{{ data['brand_id'] }}</h1>{% endblock %}

{% block content %}
<div id="map"/>
<script type="module">
import {initMap} from '{{ url_for('static', filename='map.js') }}';
window.addEventListener('load', (event) => initMap({{ data_json | safe }}));
</script>
{% endblock %}
